<div id="about" class="about-section" style="background-image: url('/assets/about.png');">
    <div class="container">
        <h1 class="section-heading">About Me</h1>
        
        <div class="profile-wrapper">
            <div class="profile-image">
                <img src="../assets/Fardin.png" alt="Profile Image">
            </div>
            
            <div class="description">
                <p>Hey there,</p>
                <p>I am Fardin Rahman, a detail-oriented and analytical professional with a background in full stack development and expanding expertise in business analysis. My strength lies in combining technical proficiency with a strategic mindset, enabling me to deliver solutions that are both effective and aligned with broader business objectives.
                </p>
<p>With a strong foundation in computer science and engineering, I have worked across diverse roles that allow me to approach challenges from both technical and business perspectives. I excel at identifying process inefficiencies, defining clear requirements, and collaborating with cross-functional teams to drive successful outcomes. My project management experience enhances my ability to oversee timelines, coordinate stakeholders, and ensure the on-time delivery of high-impact projects.
</p>
<p>Technically, I am proficient in HTML, CSS, JavaScript, PHP, Python, Angular 17, MySQL, and MongoDB, with practical experience in both frontend and backend development. This broad skill set, combined with a strong analytical mindset, positions me to contribute effectively throughout the entire project lifecycle.
</p> </div>
        </div>
        
        <div id="wrap">
            <a href="assets/CV_Fardin Rahman.pdf" target="_blank" class="btn-slide2">
              <span class="circle2"><i class="fa fa-download"></i></span>
              <span class="title2">Download CV</span>
              <span class="title-hover2">Click here</span>
            </a>
        </div>
        
    </div>
</div>
