<div class="main-section" id="certifications">
    <div class="container">
        <h2 class="section-heading">Certifications</h2>
        
        <!-- Second Certification Entry -->
        <div class="certification-entry">
            <div class="certification-details">
                <div class="certificate-logo">
                    <img src="/assets/logos/Coursera-Logo.png" alt="Certificate Logo">
                </div>
                <div class="certification-info">
                    <h3>Business Analysis & Process Management</h3>
                    <p class="date">Date Earned: August 2024</p>
                    <p class="issued-by">Issued By: Coursera </p>
                    <a href="https://coursera.org/verify/AHEX96U3T7MY" target="_blank" class="verify-button">Verify</a>

                </div>
            </div>
            <div class="certificate-image">
                <img src="/assets/logos/CERTIFICATE_LANDING_PAGE~AHEX96U3T7MY.jpeg" alt="Certificate Image">
            </div>
        </div>
        <hr class="custom-hr" width="60%" style="border-color: #00000000 ; margin-top: 10px;" />
         <!-- First Certification Entry -->
         <div class="certification-entry">
            <div class="certification-details">
                <div class="certificate-logo">
                    <img src="/assets/logos/Great-Learning.png" alt="Certificate Logo">
                </div>
                <div class="certification-info">
                    <h3>MEAN Stack Fundamentals</h3>
                    <p class="date">Date Earned: March 2024</p>
                    <p class="issued-by">Issued By: Great Learning </p>
                    <a href="https://verify.mygreatlearning.com/verify/WNTDVTBR" target="_blank" class="verify-button">Verify</a>

                </div>
            </div>
            <div class="certificate-image">
                <img src="/assets/logos/Fardin_Rahman20240302-74-mk4wm5.jpg" alt="Certificate Image">
            </div>
        </div>
        
        <!-- Add more certification entries as needed -->
        <hr class="custom-hr" width="60%" style="border-color: #20b2aa ; margin-top: 40px;" />
    </div>
    
</div>
