<div class="portfolio-page" id="projects">
    <h1 class="page-heading">Projects</h1>
    <div class="projects-container">
        <div class="project-container">
            <h2 class="project-number">EstateX</h2>
            <p class="subheading">An online platform enabling real estate transactions, <br> allowing users to seamlessly buy or sell properties.
            </p>
            <div class="project">
                <img src="assets/EstateX-home.png" alt="Project 1 Image" class="project-image">
                <div class="description">Features:
                    <ul>
                        <li>
                            Property Listing:
                            <ul>
                                <li>Users upload property details with images.</li>
                                <li>Listings displayed for potential buyers.</li>
                            </ul>
                        </li>
                        <li>
                            Property Transactions:
                            <ul>
                                <li>Direct property purchase through the platform.</li>
                                <li>Multiple payment options provided.</li>
                            </ul>
                        </li>
                        <li>
                            Confirmation Prompt:
                            <ul>
                                <li>User prompted to confirm payment before finalizing.</li>
                            </ul>
                        </li>
                        <li>
                            Receipt Generation:
                            <ul>
                                <li>Receipt generated upon successful transaction.</li>
                            </ul>
                        </li>
                    </ul></div>
                <a href="https://github.com/fardin110/EstateX" target="_blank" class="glow-on-hover">Visit</a>
            </div>
        </div>
        <div class="project-container">
            <h2 class="project-number">AutoMech</h2>
            <p class="subheading">An online platform for connecting people with nearby<br> mechanics based on the user’s live location. </p>
            <div class="project">
                <img src="assets/AutoMech.png" alt="Project 2 Image" class="project-image">
                <div class="description">Features:
                    <ul>
                        <li>
                            Role-Based Login/Signup:
                            <ul>
                                <li>Users register as customers or mechanics. </li>
                            </ul>
                        </li>
                        <li>
                             Live Location Tracing:
                            <ul>
                                <li>Traces user's live location upon login.</li>
                            
                            </ul>
                        </li>
                        <li>
                            Nearby Mechanics Display:
                            <ul>
                                <li> Shows mechanics nearby user's location with contact details and expertise.</li>
                            </ul>
                        </li>
                        <li>
                             Request Mechanic Assistance:
                            <ul>
                                <li>Users can request help from nearby mechanics.</li>
                                <li>Mechanics can accept or reject user requests based on availability or expertise.</li>
                            </ul>
                        </li>
                    </ul></div>
                <a href="https://github.com/fardin110/AutoMech" target="_blank" class="glow-on-hover">Visit</a>
            </div>
        </div>
    </div>
</div>
