<!-- Education Section -->
<div class="main-section bg-grey" id="resume">
  <div class="container">
    <h2 class="section-heading">Experience</h2>
    <!-- First Experience Entry -->
    <div class="education-entry">
      <div class="education-image">
        <img src="assets/logos/Mediusware.jpg" alt="Mediusware Logo">
      </div>
      <div class="education-details">
        <h3>Mediusware Ltd.</h3>
        <p class="degree">Junior Business Analyst</p>
        <p class="date" style="color: rgb(0, 130, 137);">Sep 2024 - Present</p>
       
      </div>
    </div>
    <hr class="custom-hr" width="50%" style="border-color: rgb(17, 0, 255); margin-top: 60px;" />

    <!-- Add more education entries as needed -->
  </div>
    <div class="container">
      <h2 class="section-heading">Education</h2>
      <!-- First Education Entry -->
      <div class="education-entry">
        <div class="education-image">
          <img src="assets/logos/BRACU.png" alt="Brac University Logo">
        </div>
        <div class="education-details">
          <h3>Brac University</h3>
          <p class="date">Jan 2020 - Jan 2024</p>
          <p class="degree">Bachelors of Science in Computer Science and Engineering</p>
        </div>
      </div>
      

      <!-- Add more education entries as needed -->
    </div>
    <hr class="custom-hr" width="50%" style="border-color: red; margin-top: 60px;" />
  </div>
  

