html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:  "Raleway", sans-serif;

}

body{
    background-color: #000000;
}
html{
    scroll-behavior: smooth;
 } 

 